/* Resetando o padrão de margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #6bdd6b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  color: #333;
  text-align: center;
  padding: 20px 10px;
  overflow-y: auto;
}

/* Estilo do número grande */
#display {
  font-size: 100px;
  font-weight: bold;
  margin: 20px 0;
  color: #ff0303;
  transition: transform 0.3s ease-in-out;
}

#display.animate {
  transform: scale(1.2);
}

/* Estilo do container de entrada */
#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

input[type="number"] {
  font-size: 20px;
  padding: 8px 16px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  width: 140px;
  text-align: center;
  outline: none;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: #45a049;
}

button {
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Estilo do histórico */
#history {
  font-size: 16px;
  color: #555;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-top: 2px solid #4caf50;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 1200px;
}

#history span {
  font-weight: bold;
  color: #000000;
}

/* Estilo da cartela de bingo */
#cartela {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* de 15 para 10 colunas */
  grid-gap: 10px;
  margin-top: 10px;
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.numero {
  font-size: 18px;
  padding: 15px;
  background-color: #f0f0f0;
  border: 2px solid #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.numero.aceso {
  background-color: #4caf50;
  color: #fff;
  transform: scale(1.1);
}

